@charset "utf-8";
/* author Zhoujing time 20110722 version 1.0.0 */
/* @group general */
* { padding:0; margin:0; }
html { zoom: expression(function(ele){ ele.style.zoom = "1"; document.execCommand("BackgroundImageCache", false, true); }(this)); } 
body { font:12px/1.25em "Microsoft YaHei"; color:#3e3e3e; }
form, input { font:12px/1.25em "Microsoft YaHei"; border:none;background:none;}
li, dt, dd { list-style:none; }
h1,h2, h3, h4, h5 {font:12px/1.25em "Microsoft YaHei"; font-weight:normal; }
a { color:#256EB1; text-decoration:none; }
a:hover,a:focus { color:#ff6400; text-decoration:none; text-decoration: underline;}
img { border:none;}
strong { font-weight:normal; }
em { font-style: normal; }
p { text-indent:0; }
.clear { clear:both; height:0; width:0; line-height:0; overflow:hidden; }
.wrapper { clear:both; width:960px; margin-left:auto; margin-right:auto; }
/* @group header */
.topOut {min-width:960px;width:100%; background:url("/images/top_bg.gif") repeat-x; height:31px; }
.top { }
.topLeft {float:left; }
.topLeft a{float:left;font-size:14px;color:#666;line-height:31px;}
.topLeft a span{float:left;margin-left:6px;padding:0 16px 0 10px;}
.topLeft a:hover{color:#000;}
/*
.topLeft a.topOn{background:url("/images/top_lefton.gif") no-repeat 0 3px;color:#fff;}
.topLeft a.topOn:hover{color:#fff;}
.topLeft a.topOn span{background:url("/images/top_righton.gif") no-repeat right 3px;}
*/
.topPrice {float:right;padding-top:8px; }
.topPrice span{float:left; }
.topPrice a{float:left;padding-left:5px;padding-right:6px;background:url("/images/top_line.gif") no-repeat right 2px;}
.topPrice a:last-child{background:none;}

.toppopcontainer { 
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    right: 0;
    width: 80px;
	background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CBCBCB;
    position: absolute;
	z-index:1000;
	display:none;
}

.toppopcontainer li{
	list-style: none outside none;
	line-height: 26px;
	width:100%;
}

.toppopcontainer li.weiguan{
	background: none repeat scroll 0 0 #F2F2F2;
}

.toppopcontainer li a{
    display: block;
    white-space: nowrap;
	text-decoration: none;
}

.toppopcontainer li a:hover {
    background: none repeat scroll 0 0 #E6E6E6;
    text-decoration: none;
}


.topPrice1{
	float:right;position: relative;padding-top:8px;
}
.topPrice1sub{
	float:left;position: relative;
}
.topPrice1sub span{
	float:left;
}

.toplinkcontainer{
	float:left;
}

.toplinkcontainer li{
	 list-style: none outside none;
	 float:left;
}
.toplinkcontainer li a{padding-left:5px;padding-right:6px;}
.toplinkcontainer li.nopop a{background:url("/images/top_line.gif") no-repeat right 2px;}


/* @group a */
.aSearch{position:relative; height:450px; }
.aInfor{position:absolute;z-index:100;left:220px;top:420px;background:url("/images/a_icon.gif") no-repeat 0 0;padding-left:40px;line-height:34px;}
.aCities{position:absolute;z-index:100;left:220px;top:170px;background:url("/images/a_icon.gif") no-repeat 0 0;padding-left:40px;line-height:34px;}
.aLogo{position:absolute;z-index:200;left:250px;top:55px;background:url("/images/a_logo.gif") no-repeat 0 0;padding:140px 50px 12px 445px;}
.aLogo span{position:absolute;z-index:200;left:125px;top:65px;}
.aLogobook{position:absolute;z-index:200;left:250px;top:55px;background:url("/images/a_logo_book.gif") no-repeat 0 0;padding:140px 50px 12px 445px;}
.aLogobook span{position:absolute;z-index:200;left:125px;top:65px;}
.aItem{position:absolute;z-index:300;left:230px;top:203px}
.aItem a{float:left;background:url("/images/a_left.gif") no-repeat 0 0;}
.aItem a span{float:left;margin-left:6px;padding:0 22px 0 16px;background:url("/images/a_right.gif") no-repeat right 0; line-height:22px;}
.aItem a.aOn{background:url("/images/a_lefton.gif") no-repeat 0 0; color:#fff;}
.aItem a.aOn span{background:url("/images/a_righton.gif") no-repeat right 0;}
.aHomeunder{position:absolute;width:580px;margin-top:340px;margin-left:190px;}
.aBdshare{position:absolute;width:250px;margin-top:430px;margin-left:730px;}
.aFriendlinks{position:absolute;width:250px;margin-top:440px;margin-left:20px;}
.aMain{}
.aMain input{float:left;margin-top:14px;margin-left:14px;margin-right:14px;line-height:18px;font-size:14px; color:#000; }
.aMain a{float:left;text-align:center;line-height:46px;font-size:20px;color:#fff;}
.aMain a:hover{color:#fff;}
.aWrapper3c{background:url("/images/a_search_3c.gif") no-repeat 0 220px; width:541px;height:47px;margin-left:auto;margin-right:auto;padding-top:220px;}
.aWrapper3c input{width:378px;}
.aWrapper3c a{width:62px;}
.aWrapperbook{background:url("/images/a_search_book.gif") no-repeat 0 220px; width:541px;height:47px;margin-left:auto;margin-right:auto;padding-top:220px;}
.aWrapperbook input{width:378px;}
.aWrapperbook a{width:130px;}
.aList{width:550px;margin-left:auto;margin-right:auto;margin-top:12px;}
/*
.aList a{float:left;padding:6px 7px 0 6px;background:url("/images/top_line.gif") no-repeat right 6px;word-wrap:break-word; overflow:hidden;}
*/
.aList a:last-child{background:none;}
/* @group b */
.bLink {border-top:1px solid #cbcbcb;padding-top:8px; }
.bLink span {float:left;padding:12px 6px 0 0; }
.bLink a { float:left; padding:12px 16px 0 0;white-space:nowrap;}
/* @group footer */
.foot {padding-top:20px;padding-bottom:20px; }
.footLink{ border-top:1px solid #cbcbcb;padding-top:12px;text-align:center;width:100%;}
.footLink a{display:inline-block;}
.footLink span{display:inline-block;background:url("/images/foot_line.gif") no-repeat center 2px;width:13px;}
.foot p{clear:both;width:100%;text-align:center;padding-top:6px;}
.footCopyright{color:#000;}
.footInfor{color:#990000;}






#index{height:100%}
#index .topLeft a.navIndex{background:url("/images/top_lefton.gif") no-repeat 0 3px;color:#fff;}
#index .topLeft a.navIndex:hover{color:#fff;}
#index .topLeft a.navIndex span{background:url("/images/top_righton.gif") no-repeat right 3px;}

#android .topLeft a.navAndroid{background:url("/images/top_lefton.gif") no-repeat 0 3px;color:#fff;}
#android .topLeft a.navAndroid:hover{color:#fff;}
#android .topLeft a.navAndroid span{background:url("/images/top_righton.gif") no-repeat right 3px;}


#iphone .topLeft a.navIphone{background:url("/images/top_lefton.gif") no-repeat 0 3px;color:#fff;}
#iphone .topLeft a.navIphone:hover{color:#fff;}
#iphone .topLeft a.navIphone span{background:url("/images/top_righton.gif") no-repeat right 3px;}




/*********** Login Box *********/	
/*********** Login Box 

.login_box .login_input{width: 90px;height: 18px;overflow: hidden;padding: 2px 5px;margin-right: 5px;float: left;background: url(/images/login_input.png) 0px 0px no-repeat;}
.login_box .login_input .input_text{width:90px;height: 18px;overflow: hidden;border: 0px;color: #666;background: transparent;}
.login_box a:hover{text-decoration: none;color: #666;}

*********/	

.login_box{float:left;display: inline;height: 24px;overflow: hidden;margin-top: 0px;text-align:left;}

.mini-service {
    background: url("/images/signicons.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    margin: 2px;
    position: relative;
    top: 6px;
    width: 16px;
}
a .mini-service {cursor: pointer;}
.mini-service-twitter {background-position: -16px 0;}
.mini-service-yahoo {background-position: -32px 0;}
.mini-service-google {background-position: -48px 0;}
.mini-service-windowslive {background-position: -64px 0;}
.mini-service-linkedin {background-position: -80px 0;}
.mini-service-user {background-position: -96px 0;}
.mini-service-dropalert {background-position: -112px 0;}
.mini-service-logout {background-position: -128px 0;}
.mini-service-weibo {background-position: -144px 0;}
.mini-service-tencent {background-position: -160px 0;}

/*********** Login Box 	*********/


.login_box .login_check{overflow: hidden;float: left;margin-top: 3px;margin-top: 0px;}
.login_box .login_label{overflow: hidden;font-size: 13px;margin-right: 5px;margin-right: 3px;}
.login_box .login_link{color: #000;overflow: hidden;margin-right: 5px;display: inline;*margin-right: 3px;}
.login_box .login_link a{font-weight: normal;margin:2px 5px;}
.login_box .login_link a img{width: 18px;height: 18px;_margin-top: 3px;vertical-align:middle;margin-right: 3px;}
.login_box .login_link em{margin: 3px 5px;margin-right: 0px;font-weight: normal;}
.login_box .login_button a{display: inline-block;margin-right: 10px;}			
.login_box .login_button a img{vertical-align: middle;}
.login_box .login_button a:hover{font-weight: normal;text-decoration: underline;}
div.hidden { display: none; }


/************* Logo Box Style End *************/

/* 选择所在城市

.fh_memu_tab.stock {height: 30px;line-height: 30px;margin-bottom: 5px;margin-top: 10px;padding-left: 10px;position: relative;z-index: 50;}
.stock label {float: left;}
.fh_memu_tab .stock_tab {float: left;margin: 2px 5px;}
.fh_memu_tab .stock_tab .item {float: left;padding: 0 8px 0 0;position: relative;z-index: 2;}
.fh_memu_tab .stock_tab .item.current {z-index: 3;}
#itemProperties1 .item {z-index: 1;}
.fh_memu_tab .stock_tab h3 .none {color: #C7012C;}
.fh_memu_tab .stock_tab h3 {background: url("/images/bg_select.gif") no-repeat scroll 0 0 #FAFAFA;cursor: pointer;font-size: 12px;font-weight: normal;height: 22px;line-height: 22px;padding: 0 15px;position: relative;width: 72px;z-index: 17;}
.stock_tab h3 em {color: #FF9900;font-weight: bold;}
.fh_memu_tab .stock_tab .item .item_content {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #7A460D;display: none;height: auto;padding: 10px 5px;position: absolute;top: 21px;width: 330px;z-index: 10;}
.fh_memu_tab .stock_tab .item .item_content ul {overflow: hidden;width: 100%;}
.fh_memu_tab .stock_tab .item .item_content ul li {border-top: 1px dotted #CCCCCC;height: auto;line-height: 24px;}
.fh_memu_tab .stock_tab .item .item_content ul li a {display: inline-block;padding: 0 2px;}
.fh_memu_tab .stock_tab .item .item_content ul li a:hover {background: none repeat scroll 0 0 #C7012C;color: #FFFFFF;text-decoration: none;}
.fh_memu_tab .stock_tab .item .item_content .liTop {border-top: medium none;}
.fh_memu_tab .stock_tab .item .item_content .liBottom {border-bottom: medium none;border-top: 1px solid #CCCCCC;color: #C7012C;padding-top: 5px;}
.fh_memu_tab .stock_tab .item .h3Hover {background-position: 0 -22px;}
.fh_memu_tab .stock_tab .item.current h3 {background-position: 0 -44px;}
.fh_memu_tab .stock_tab .item.current .item_content {display: block;}
.fh_memu_tab .stock_tab .item.current .item_content .close1 {background: url("/images/bgfeihu.png") no-repeat scroll -965px -747px transparent;cursor: pointer;float: right;height: 15px;overflow: hidden;padding: 0;position: absolute;right: 0;text-indent: -999em;top: 0;width: 15px;}
.fh_memu_tab .stock_tab .item.current .item_content .close1:hover {background: url("/images/bgfeihu.png") no-repeat scroll -965px -769px transparent;}
.fh_memu_tab .stock_tab .item.current .bottomLine {background: none repeat scroll 0 0 #FFFFFF;float: left;font-size: 1px;height: 1px;left: 1px;line-height: 1px;position: absolute;top: 22px;width: 100px;z-index: 69;}
.stock em {color: #C7012C;}

 */



.index_toggle {float: left; padding: -20px 0px 20px -20px; }

.index_toggle_tab {float: left;margin: 2px px; }
.index_toggle_tab span {float: left;padding: 3px;}
.index_toggle_tab span label{padding-right:5px;}
.index_toggle_tab span label.split{padding-right:5px;}
.index_toggle_tab span input{vertical-align:middle; margin-top:0;}
.index_toggle_tab span input.border{border: 1px solid;}

.index_toggle_tab .item {float: left;padding: 0 8px 0 0;}
.index_toggle_tab .item h3.none {color: #C7012C;z-index: 10;}
.index_toggle_tab .item h3 {background: url("images/bg_category.gif") no-repeat scroll 0 0 #FAFAFA;cursor: pointer;font-size: 16px;font-weight: normal;height: 22px;line-height: 22px;padding: 0 15px;position: relative;width: 280px;z-index: 999;}
.index_toggle_tab .item h3.current {background-position: 0 -44px;z-index: 999;}

#popup_domain_div {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #7A460D;display: none;height: auto;padding: 0px 5px;position: absolute;top: 21px;width: 430px;z-index: 10; display: block; left: 91.5px; top: 72px;}
#popup_domain_div ul {overflow: hidden;width: 100%;}
#popup_domain_div ul li {border-top: 1px dotted #CCCCCC;height: auto;line-height: 24px;}
#popup_domain_div ul li a {display: inline-block;padding: 0 2px;}
#popup_domain_div ul li a:hover {background: none repeat scroll 0 0 #C7012C;color: #FFFFFF;text-decoration: none;}
#popup_domain_div .liTop {border-top: medium none;}
#popup_domain_div .liBottom {border-bottom: medium none;border-top: 1px solid #CCCCCC;color: #C7012C;padding-top: 5px;}
#popup_domain_div .close1 {background: url("/images/bgfeihu.png") no-repeat scroll -965px -747px transparent;cursor: pointer;float: right;height: 15px;overflow: hidden;padding: 0;position: absolute;right: 0;text-indent: -999em;top: 0;width: 15px;}
#popup_domain_div .close1:hover {background: url("/images/bgfeihu.png") no-repeat scroll -965px -769px transparent;}

